{% extends "base.html" %}

{% block head %}
{%endblock%}

{% block title %}ЮKassa оплата{% endblock %}

{% block background %}login-background{% endblock %}

{% block color-scheme %}dark{% endblock %}

{% block theme %}black-theme{% endblock %}

{% block content %}
  <script src="https://yookassa.ru/checkout-widget/v1/checkout-widget.js"></script>
  <div class="content-wrapper">
    <div class = "module-wrapper">
      <div class = "module">
        <div id="payment-form"></div>
      </div>
    </div>
  </div> 
  <script>
    const checkout = new window.YooMoneyCheckoutWidget({
        confirmation_token: '{{confirmation_token}}',
        return_url: '{{return_url}}', 

    customization: {
        colors: {
          background: '#0D182F',
          control_primary: '#00BF96',
          control_primary_content: '#FFFFFF',
          control_secondary: '#366093',
          border: '#244166', 
          text: '#DBDCE0'
        }
    },
    error_callback: function(error) {
    }
});
checkout.render('payment-form')
  .then(() => {
  });
    </script>
{% endblock %}
{% block footer %}{% endblock %}