{% extends "base.html" %}

{% block title %}Курс по 3D max{% endblock %}

{% block header %}{% include "components/header.html" %}{% endblock %}

{% block background %}black-background{% endblock %}

{% block theme %}black-theme{% endblock %}

{% block footer %}{%endblock%}

{% block content %}
<div class = "main-block container" id = "course-main-block">
  <div class = "main-block-heading">
    <h1 class = "extra-heading">Курс по 3ds max</h2>
    <h4>Начни моделировать <span class = "purple">с нуля</span></h4>
    <ul class = "pluses-list">
      <li class = "">Неделя обучения</li>
      <li class = "">Перспективная профессия</li>
      <li class = "">4990₽ за курс</li>
    </ul>
  </div>
  <a class = "button banana-background", href= "{% url 'course-enrole' %}">Записаться на курс</a>
</div>
<div class="container">
  <div class="module centered">
    <h1>Главное о профессии</h1>
    <p class = "big-text">Станьте востребованным специалистом 3ds Max и откройте двери к увлекательной и перспективной карьере. В мире трехмерной визуализации существует огромный спрос на профессионалов, владеющих навыками 3ds Max. Будьте частью процветающей индустрии развлечений, архитектуры, рекламы и дизайна, где ваш талант и творческий потенциал будут цениться.</p>
  </div>
</div>
<div class="container">
  <h1>Что будешь знать после курса</h1>
  <ul>
    <li>
      <h3 class = "module-heading">Интерфейс 3ds max</h3>
      <div class = "space-between module">
        <img src = "/static/images/3ds-max-interface.png" alt = "3d моделирование">
        <div class = "vertical-layout"> 
          <p class = "module-text">Узнаешь всё о интерфейсе 3ds max</p>
          <p class = "module-text">Сможешь настроить интерфейс, горячие клавиши и блоки модификаторов</p>
        </div>
      </div>
    </li>
    <li>
      <h3 class = "module-heading">Основные модификаторы и элементы</h3>
      <div class = "space-between module">
        <img src = "/static/images/basic-3d-modeling.png" alt = "Примитивы 3d моделирования">
        <div class = "vertical-layout"> 
          <p class = "module-text">Научишься пользоваться модификаторами и операторами</p>
          <p class = "module-text">Научишься работать с основными объектами, линиями и текстом</p>
        </div>
      </div>
    </li>  
    <li>
      <h3 class = "module-heading">Материалы и освещение</h3>
      <div class = "space-between module">
        <img src = "/static/images/meterials.png" alt = "Материалы">
        <div class = "vertical-layout"> 
          <p class = "module-text">Узнаешь всё необходимое для успешной работы с материалами</p>
          <p class = "module-text">Научишься ставить и настраивать источники света</p>
        </div>
      </div>
    </li>
    <li>
      <h3 class = "module-heading">Настройки рендера </h3>
      <div class = "space-between module">
        <img src = "/static/images/rendering.png" alt = "Рендеринг">
        <p class = "module-text">Узнаешь всё о настройке рендера для получения наилучшей картинки</p>
      </div>
    </li>
    <li>
      <h3 class = "module-heading">Практика</h3>
      <div class = "space-between module">
        <img src = "/static/images/rockets.png" alt = "3d рокета">
        <p class = "module-text">Получишь практические навыки в моделировании</p>
      </div>
    </li>
  </ul>
</div>

<section class = "courses">
  <h1 class = "centered"><b>Наши курсы</b></h1>
  <div class = "section">
    <h3>3D Моделирование</h3>
      <div class = "block-list">
        
      </div>
  </div>
  <div class = "section">
    <h3>Программирование</h3>
      <div class = "block-list">
        <h2>Здесь пока ничего нет</h2>
      </div>
  </div>
</section>

<div class = "container">
<p class = "big-text">Если вы хотите подробнее узнать о курсах и нашей школе, оставьте свой номер - позвоним и бесплатно проконсультируем по курсам</p>

<form class = "form" action="{% url 'course' %}" method="post">
  <div class = "module black-theme">
    <p>Напишите нам и мы ответим вам на все ваши вопросы!</p>
    <div class = "space-between">
    {% for field in form %}
        <div class = "inline-wrapper">
          {{ field }}
        </div>
    {% endfor %}
    </div>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <input type="submit" class = "big-button white-submit" value="Перезвоните мне"/>
  </div>
</form>

  <div class = "module black-theme">
    <div class = "space-between">
      <div>
        <h2>Напишите нам и мы ответим вам на все ваши вопросы!</h2>
        <p><b>4990₽</b> за полный курс</p>
      </div>
      <img src = "/static/images/abstract-tor.png" alt = "Абстракция">
    </div>
    <a href = {% url 'course-enrole' %} class = "big-button white-submit">Оплатить</a>
  </div>
</div>
{% endblock %}



