{% extends "base.html" %}

{% block title %}Успешно{% endblock %}

{% block header %}{% include "components/header.html" %}{% endblock %}

{% block background %}black-background{% endblock %}
{% block footer %}{%endblock%}

{% block content %}
<div class="content-wrapper">
    <div id = "" class="container ">
      <div class="extra-padding">
        <div class = "space-between">
          <div>
            <div class = "">
              <h1 class = "extra-heading">Успех!</h1>
              <h4>Вы оплатили курс,<br>скорее переходите к обучению!</h4>
            </div>
            <a class="button purple-background" href = "{% url 'table-of-contents' %}">Перейти к обучению</a>
            <a class="button" href = "{% url 'main-page' %}">Вернуться на главную</a>
          </div>
          <img class ="middle-image" src = "/static/images/emoji.png" alt = "Смайлик">
        </div>
      </div>
    </div>
  </div>
{% endblock %}


