{% extends "base.html" %}

{% block title %}Ошибка{% endblock %}

{% block header %}{% include "components/header.html" %}{% endblock %}

{% block background %}black-background{% endblock %}
{% block footer %}{%endblock%}

{% block content %}
<div class="content-wrapper">
  <div id = "" class="container ">
    <div class="extra-padding">
      <div class="space-between">
        <div>
          <div class = "">
            <h1 class = "extra-heading">Провал!</h1>
            <h4>К сожалению,<br>оплата не прошла</h4>
          </div>
          <a class="button" href = "{% url 'main-page' %}">Вернуться на главную</a>
          </div>
          <img class ="middle-image" src = "/static/images/cry-emoji.png" alt = "грустим">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
