{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block header %}{% include "components/header.html" %}{% endblock %}

{% block color-scheme %}white-theme{%endblock%}

{% block background %}white-background{% endblock %}

{% block footer %}{%endblock%}

{% block content %}

<div class = "space-between container">
  <div>
    <h1 class="extra-heading">Kasimtsev school -</h1>
    <h4>первый этап на пути в игровую индуcтрию</h4>
  </div>
  <img class = "big-img" src = "/static/images/gamepad.png" alt = "3d геймпад">
</div>
<div class = "container">
  <h1>Почему мы</h1>
  <p class = "big-text">Мы будем вашими надежными наставниками и творческими спутниками, готовыми вдохновить, обучить и помочь вам воплотить свои самые смелые игровые идеи в реальность.</p>
</div>
<div class = "container">
  <h1>Что будет, когда ты пройдёшь наш курс</h1>
  <ul>
    <li class = "space-between">
      <p class = "big-text">Научишься работать в таких программах как <a class = "orange" href = "https://www.blender.org/">Blender</a>, <a class = "blue" href = "https://unity.com/ru"> Unity</a>, <a class = "mint" href = "https://www.autodesk.com/products/3ds-max/overview?term=1-YEAR&tab=subscription">3D MAX</a></p>
      <div class = "blank"></div>
    </li>
    <li class = "space-between">
      <div class = "blank">.</div>
      <p class = "big-text">Приобретёшь навыки <a class = "purple" href = "https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0_%D0%BA%D0%BE%D0%BC%D0%BF%D1%8C%D1%8E%D1%82%D0%B5%D1%80%D0%BD%D1%8B%D1%85_%D0%B8%D0%B3%D1%80">создания игр</a> в той или иной области<p></li>
    <li class = "space-between">
      <p class = "big-text"> Сложишь в копилку новый проект, который <a class = "green" href = "https://i.pinimg.com/originals/79/fe/02/79fe0253acbedd3ada6fee912bae8831.jpg">сделаешь сам</a></p>
      <div class = "blank">.</div>
    </li>
  </ul>
</div>
<div id = "course-ad" class = "green-gradient-background vertical-padding">
  <div class = "container ufo-background">
    <div>
      <h1 class="extra-heading">Курс<br>по 3D дизайну</h1>
      <h4>скидка 10% на все последующие курсы</h4>
    </div>
    <a href = "{%url 'course'%}" class="button banana-background">Перейти</a>
  </div>
</div>
<!-- <section class = "courses">
  <h1 class = "centered"><b>Наши курсы</b></h1>
  <div class = "section">
    <h3>3D Моделирование</h3>
      <div class = "block-list">
        
      </div>
  </div>
  <div class = "section">
    <h3>Программирование</h3>
      <div class = "block-list">
        <h2>Здесь пока ничего нет</h2>
      </div>
  </div>
</section> -->
<div class = "container">
<p class = "big-text">Если вы хотите подробнее узнать о курсах и нашей школе, оставьте свой номер - позвоним и бесплатно проконсультируем по курсам</p>

<form action="{% url 'main-page' %}" method="post">
  <div class = "module black-theme">
    <p>Напишите нам и мы ответим вам на все ваши вопросы!</p>
    <div class = "space-between">
    {% for field in form %}
          {{ field }}
    {% endfor %}
    </div>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <input type="submit" class = "big-button white-submit" value="Перезвоните мне"/>
  </div>
</form>
</div>
{% endblock %}

