{% extends "base.html" %}

{% block header %}{% endblock %}

{% block background %}login-background{% endblock %}

{% block color-scheme %}dark{% endblock %}

{% block theme %}black-theme{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <div class = "module-wrapper">
      <div class = "module">
        {% block form %}
        <h1>Здесь должна быть форма</h1>
        <p>Но её пока ещё здесь нет ((<p>
        <a class = "big-button" href = {% url 'main-page' %}>На главную</a>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}{% endblock %}

