html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, html { 
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.content {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.logo-text-wrapper
{
    display: flex;
    padding: 0px 20px;
    align-items: center;
    align-self: stretch;
}

h1 {
    font-size: 64px;
    padding-bottom: 30px;
    font-weight: 750;
}

p {
    font-size: 20px;
    padding-bottom: 10px;
}

input {
    border: none;
}

.white-submit {
    color: black;
    margin-top: 20px;
    width: 100%;
}
.big-logo-text {
    width: 201px;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    whitespace: nowrap;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.small-logo-text {
    text-align: right;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex: 1 0 0;
}

.logo {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.black {
    color: black;
}

.module-heading {
    color: var(--for-detail-text, #B0B0B0);;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 69px;
}
.module-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 425px;
    width: 100%;
}

.inline-wrapper {
    width: 50%;
}

.module {
    color: white;
    width: 100%;
    padding: 60px 40px;
    border-radius: var(--cards-corner-radius, 10px);
    background: var(--dark-card, rgba(17, 17, 17, 0.90));
    backdrop-filter: blur(30px);
}

.module a, .module p, .module span, .module h1, .module h2, .module h3, .module h4, .module h5, .module h6, .module li  {
    color: #eee;
}

.module-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}
 
.module-header a {
    color: white;
}

.input {
    color: white;
    font-size: 20px;
    display: flex;
    height: 70px;
    padding: 0px 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: var(--color-for-text-field-dark, #000);
}

.input::placeholder{
    color: var(--for-detail-text, #B0B0B0);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.big-button {
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.big-button:hover {
    cursor: pointer;
}

h2 {
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 144.523%; /* 69.371px */
}

.login-background {
    background-color: #0F2163;
    background-image: url("/static/images/login.png");
}
.signup-background {
    background-color: #0F2163;
    background-image: url("/static/images/signup.png");
}

.background-filter {
    fill: rgba(20, 20, 20, 0.39);
    backdrop-filter: blur(14.5px);
}

.error {
    color: #D03841;
}
.header-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    min-width: 100%;
}



h3 {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.space-between.big-text {
    padding: 75px;
}

.blank {
    width: 50%;
}

.blue {
    color: #1599E3;
}

.orange {
    color: #E38415;
}

.mint {
    color: #2EDDC8;
}

.purple {
    background: var(--button-gradient-color, linear-gradient(172deg, #8D90EC 0%, #D58EE7 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Inter;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.green {
    color: #038A51;
}

.button {
    text-align: center;
    padding: 20px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    margin: 20px 0;
    min-width: 200px;
    font-size: 24px;
}

.big-text {

    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 75px;
}

.right-header {
    display: flex;
    align-items: center;
    gap: 143px;
    flex-shrink: 0;
    align-self: stretch;
}


.link-list {
    display: flex;
    align-items: center;
    gap: 63px;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; 
}

.black-background {
    background-color: black;
    
}

.purple-background {
    background: var(--button-gradient-color, linear-gradient(172deg, #8D90EC 0%, #D58EE7 100%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.banana-background {
    background: var(--button-gradient-color-2, linear-gradient(2deg, #DFEC8D 0%, #D58EE7 100%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: black;
    text-align: center;
    font-style: normal;
    font-weight: 900;
}

body {
    --text-color: black;
}
  
.white-theme {
    --text-color: #222;
}

.dark-theme {
    --text-color: #eee;
}

h4 {
    font-size: 36px;
}

a {
    all: unset;
}

h1, h2, h3, h4, h5, h6, span, p, code, li, a{
    color: var(--text-color)
}

a {
    cursor: pointer;
}

.centered {
    text-align: center;
}

.extra-heading {
    font-size: 100px;
    padding: 5px 0;
    text-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.65);
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.vertical-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;
    flex: 1 0 0;
    align-self: stretch;
}

.vertical-layout p {
    display: flex;
    padding: 35px 67px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--cards-corner-radius, 10px);
    background: var(--color-for-text-field-dark, #000);
}

.module-text {
    color: var(--main-text-color-dark, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.highlited-link p {
    color: #3899D0;
}

.highlited-link:visited p {
    color: #3899D0;
}

#course-spacecraft {
}

.pluses-list li {
    display: inline-block;
    padding: 10px 15px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 13px;
    background: var(--dark-card, rgba(17, 17, 17, 0.90));
    color: var(--for-detail-text, #B0B0B0);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 80px;
}

.main-block {
    padding-top: 100px;
    max-height: 650px;
    height: 100%;
    margin-bottom: 150px;
}


.main-block-heading{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 44px;
    flex: 1 0 0;
    align-self: stretch;
    padding: 100px 0;
}

.hidden {
    display: none;
}

footer {
    position: relative;
    bottom: 0;
}

.extra-padding{
    padding: 200px;   
}

#smile-background {
    background-image: url("/static/images/emoji.png");
    background-position: right center;
    background-repeat: no-repeat;
}

#cry-background {
    background-image: url("/static/images/cry-emoji.png");
    background-position: right center;
    background-repeat: no-repeat;
}

#death-background {
    background-image: url("/static/images/death.png");
    background-position: right center;
    background-repeat: no-repeat;
}

.ufo-background {
    background-image: url("/static/images/spacecraft.png");
    background-position: right center;
    background-repeat: no-repeat;
}

.big-padding {
    padding: 50px 100px;
}

.table-of-contents {
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 143.738%; /* 57.495px */
}

.table-of-contents li {
    padding: 10px 0;
}


li.locked {
    color: #515151;

}

li.locked::after {
    content: url('/static/images/locked.svg');
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
}

.main-header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    font-size: 24px;
    padding: 0 15px;
}

.green-gradient-background {
    background: linear-gradient(315deg, #2AE926 0%, #269FE9 100%);
}