html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, html { 
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.content{
    max-width: 1235px;
}

.white-theme {
    color: black;
}
.black-theme {
    color: white;
}


a {
    color: black;
    text-decoration: none;
}
.highlited-link {
    color: #3899D0;
}

.logo-text-wrapper
{
    display: flex;
    padding: 0px 20px;
    align-items: center;
    align-self: stretch;
}

h1 {
    font-size: 64px;
    padding-bottom: 30px;
    font-weight: 750;
}

p {
    font-size: 20px;
    padding-bottom: 10px;
}

input {
    border: none;
}

.white-submit {
    color: white;
    margin-top: 20px;
    width: 100%;
}

.white-theme.header-wrapper.main-header{
    color: black;
}


.black-theme.header-wrapper.main-header{
    color: white;
}

.big-logo-text {
    width: 201px;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    whitespace: nowrap;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.small-logo-text {
    text-align: right;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex: 1 0 0;
}

.logo {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.black {
    color: black;
}

.module-heading {
    color: var(--useless-text-dark, #1E1E1E);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 69px;
}
.module-wrapper {
    width: 26em;
}

.inline-wrapper {
    width: 50%;
}

.module {
    min-height: 200px;
    width: 100%;
    padding: 60px 40px;
    border-radius: var(--cards-corner-radius, 10px);
    background: var(--dark-card, rgba(17, 17, 17, 0.90));
    backdrop-filter: blur(30px);
    margin-bottom: 100px;
}

.module-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}
 
.module-header a {
    color: white;
}

.input {
    color: white;
    font-size: 20px;
    display: flex;
    height: 70px;
    padding: 0px 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: var(--color-for-text-field-dark, #000);
}

.input::placeholder{
    color: var(--for-detail-text, #B0B0B0);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.big-button {
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: var(--button-gradient-color, linear-gradient(172deg, #8D90EC 0%, #D58EE7 100%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.big-button:hover {
    cursor: pointer;
}

h2 {
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 144.523%; /* 69.371px */
}

.login-background {
    background-color: #0F2163;
    background-image: url("/static/images/login.png");
}
.signup-background {
    background-color: #0F2163;
    background-image: url("/static/images/signup.png");
}

.background-filter {
    fill: rgba(20, 20, 20, 0.39);
    backdrop-filter: blur(14.5px);
}

.error {
    color: #D03841;
}
.header-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    min-width: 100%;
}

.main-header {
    display: flex;
    width: 1235px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    font-size: 24px;    
}

h3 {
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.space-between.big-text {
    padding: 75px;
}

.blank {
    width: 50%;
}

.blue {
    color: #1599E3;
}

.orange {
    color: #E38415;
}

.mint {
    color: #2EDDC8;
}

.purple {
    color: #482DEC;
}

.green {
    color: #038A51;
}

.big-text {

    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 75px;
}

.right-header {
    display: flex;
    width: 492px;
    align-items: center;
    gap: 143px;
    flex-shrink: 0;
    align-self: stretch;
}


.link-list {
    display: flex;
    align-items: center;
    gap: 63px;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; 
}

.black-background {
    background-color: black;
}