html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.module {
    display: flex;
    width: 491px;
    padding: 60px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 69px;
    border-radius: var(--cards-corner-radius, 10px);
    background: var(--dark-card, rgba(17, 17, 17, 0.90));
    backdrop-filter: blur(30px);
}

.module-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.input {
    display: flex;
    height: 70px;
    padding: 0px 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: var(--color-for-text-field-dark, #000);
}

.input::placeholder{
    color: var(--for-detail-text, #B0B0B0);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.big-button {
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: var(--button-gradient-color, linear-gradient(172deg, #8D90EC 0%, #D58EE7 100%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

